
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EBloodBank | learn</title>
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="./learn.css">
     <link rel="icon" type="image/x-icon" href="../favicon_io/apple-touch-icon.png">
</head>
<body>
    <!-- navigation -->
    <nav>
        <a href="./index.html"><img src="../assets/Logo.svg" alt="ebloodbank logo" class="logo"></a>
        <div class="navigation">
            <ul id="menu">
                <i class="fas fa-times" id="menu-close" onclick="toggleMenu()"></i>
                <li><a href="./index.html" class="active">About</a></li>
                <li><a href="#">Resources</a></li>
                <li><a href="#">Learn</a></li>
                <li><a href="#">News&Events</a></li>
                <li><a href="#">Support us</a></li>
                <li class="donateBtn"><a href="#">Donate</a></li>
                <li class="signupBtn"><a href="../login.html">Sign in</a></li>

            </ul>
            <i class="fas fa-bars" id="menu-btn" onclick="toggleMenu()"></i>
        </div>
    </nav>
    
    <!-- home -->
    <section id="learn">
        <h1>Impact of Blood Donation</h1>
        <p>Blood donation has a profound impact on individuals and communities by saving lives, supporting emergency response efforts, treating medical conditions, aiding cancer patients, fostering community unity, and providing health benefits for donors. By donating blood, you have the power to make a significant difference in multiple areas, bringing hope, healing, and strength to those in need while also promoting your own well-being. Join us in the life-saving mission of blood donation and be a part of creating a positive and lasting impact.</p>
    </section>

    <section class="impact">
        <h3>Blood Type Compatability</h3>
        <img src="../assets/BloodtypeCompatability.png" alt="">
    </section>
    <section class="donation">
        <h2>Donation Process</h2>
        <div>
            <h3>Before You Donate</h3>
            <ul>
                <li>Donating blood is a safe, simple, and rewarding experience that usually takes 30 minutes.</li>
                <li>Requirement before Blood Donation is that your weight should be atleast 45 kgs , be at least 18 years old and be healthy in general.</li>
                <li> If you have any particular health concerns then inform the blood bank at the time of blood donation.</li>
            </ul>
        </div>
        <div>
            <h3>Pre Donation Screening</h3>
            <ul>
                <li>During pre-donation screening, a blood bank employee will ask you some questions about your health, lifestyle, and disease risk factors. All of this information is confidential.</li>
                <li>An employee will perform a short health exam, taking your pulse, temperature and blood pressure. A drop of blood from your finger will also be tested to ensure that your blood iron level is sufficient for you to donate.</li>
                <li>All medical equipment used for this test, as well as during the donation process, is sterile, used only once and then disposed.</li>
            </ul>
        </div>

        <div>
            <h3>Blood Donation</h3>
            <ul>
                <li>Once the pre-donation screening is finished, you will proceed to a donor bed where your arm will be cleaned with an antiseptic, and a professional will use a blood donation kit to draw blood from a vein in your arm.</li>
                <li>If you are allergic to iodine, be sure to tell the phlebotomist at this point.</li>
                <li>During the donation process, you will donate one unit of blood; this takes about six to ten minutes.</li>
            </ul>
        </div>

        <div>
            <h3>Post Donation</h3>
            <ul>
                <li>Following your donation, you will receive refreshments.</li>
                    <li>After donating, it is recommended that you increase your fluid intake for the next 24 to 48 hours; avoid strenuous physical exertion, heavy lifting or pulling with the donation arm for about five hours; and eat well balanced meals for the next 24 hours.</li>
                    <li>Smoking and alcohol consumption is not recommended after donation. Although donors seldom experience discomfort after donating, if you feel light-headed, lie down until the feeling passes.</li>
            </ul>
        </div>
    </section>

    <section id="facts">
        <h2>Facts About Blood</h2>
        <ul>
            <li>One unit of donated blood can save up to three lives.</li>
                <li>You can donate blood every three months. It only takes 48 hours for your body fluids to be completely replenished.</li>
                <li>Scientists have estimated the volume of blood in the human body to be eight percent of body weight.</li>
                <li>There are 100,000 miles of blood vessels in an adult human body.</li>
                <li>A red blood cell can make a complete circuit of your body in 30 seconds.</li>
                <li> White blood cells make up about 1% of your blood.</li>
        </ul>
        <ul>
            <li>According to a 2012 World Health Organisation (WHO) report, only nine million units are collected annually, while the need is for 12 million units.</li>
            <li>Delhi NCR alone faces a shortage of 100,000 units per year.</li>
            <li>The shelf-life of donated blood is 35 to 42 days. There is a constant need to replenish stocks in our blood banks.</li>
            <li>Healthy donors are between the age of 18 to 65 years.</li>
            <li>Statistics show that there are 234 million major operations in India, 63 million trauma-induced surgeries, 31 million cancer-related procedures and 10 million pregnancy related complications which require blood transfusions.</li>
        </ul>
    </section>

    <!-- footer -->
    <footer>
        <div class="footer-column">
            <h3>About</h3>
            <li>Purpose & Network</li>
            <li>What we offer</li>
        </div>
        <div class="footer-column">
            <h3>News & Events</h3>
            <li>News</li>
            <li>Blogs</li>
        </div>
        <div class="footer-column">
            <h3>Resources</h3>
            <li>Donor</li>
            <li>Health History Questionaire</li>
        </div>
        <div class="footer-column">
            <h3>CONTACT US</h3>
            <p><b>Call:</b> 0801 0440 456 </p>
            <div class="pro-link">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-linkedin"></i>
            </div>
            <div class="stores">
                <img src="../assets/AppStore.svg" alt="App store logo">
                <img src="../assets/GooglePlay.svg" alt="Playstore logo">
            </div>
        </div>
        <div class="copyright">
            <p>Copyright&nbsp; <script>document.write(new Date().getFullYear())</script> All rights reserved | University of Calabar EBloodBank</p>
        </div>
    </footer>


    <script src="https://kit.fontawesome.com/09432581c7.js" crossorigin="anonymous"></script>
    <script>
        let toggleStatus = 0;
        function toggleMenu(){
            if(toggleStatus == 1){
                document.getElementById("menu").style.right = "-220px";
                toggleStatus=0
            } else if(toggleStatus == 0){
                document.getElementById("menu").style.right = "0px";
                toggleStatus=1
            }
        }

    </script>
</body>
</html>